apiVersion: v1
kind: Service
metadata:
  name: prometheus
  namespace: {{ prometheus_namespace }}
  labels:
    app.kubernetes.io/name: prometheus
spec:
  type: {{ prometheus_service_type }}
  selector:
    app.kubernetes.io/name: prometheus
  ports:
    - name: web
      protocol: TCP
      port: 9090
      targetPort: web
{% if prometheus_service_type == "NodePort" %}
      nodePort: {{ prometheus_node_port }}
{% endif %}
